.about {
  display: block;
  padding-top: 146px;

  $b: &;

  &__container {
    position: relative;
  }

  &__pulse-wrapper {
    @include size(485px);

    position: absolute;
    right: -248px;
    bottom: -255px;
    border: 1px solid rgba(#4c6fa6, .12);
    border-radius: 50%;
  }

  &__pulse-count {
    position: absolute;
    font-family: $font-second;
    font-size: 16px;
    font-weight: 500;
    color: #b8c9e5;

    &::before {
      @include pseudo;
      @include size(10px);

      border-radius: 50%;
      background-color: #cbe2fb;
      opacity: 0.6;
    }

    &:first-of-type {
      top: 48%;
      left: 11px;
      margin-top: -5px;

      &::before {
        top: -10px;
        left: -15px;
      }
    }

    &:nth-of-type(2) {
      top: 7px;
      left: 43%;
      margin-left: -4px;

      &::before {
        top: -8px;
        left: -14px;
      }
    }

    &:last-of-type {
      top: 24%;
      right: 46px;
      margin-left: -5px;

      &::before {
        top: -8px;
        right: -15px;
      }
    }
  }

  &__pulse-circle {
    @include center-block;
    @include size(279px);

    border: 1px solid rgba(#4c6fa6, .3);
    border-radius: 50%;
  }

  &__pulse-content {
    @include center-block;
  }

  &__pulse-heart {
    position: absolute;
    top: 23px;
    right: 45px;
  }

  &__content {
    display: flex;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  &__img-block {
    margin-right: 40px;
  }

  &__text-content {
    padding-top: 83px;
  }

  &__title {
    @include heading-2;

    margin-bottom: 17px;
  }

  &__features {
    @include text-list-item;

    margin-left: 3px;
    margin-bottom: 37px;
  }

  &__description {
    margin-bottom: 17px;
  }

  &__list {
    padding-left: 15px;
  }

  &__list-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::before {
      @include pseudo;
      @include size(5px);

      top: 10px;
      left: -16px;
      border-radius: 50%;
      background-color: #16afe0;
    }
  }
}
