mixin about()
  +b.SECTION.about&attributes(attributes)
    .container.about__container
      +e.pulse-wrapper
        +e.SPAN.pulse-count 55
        +e.SPAN.pulse-count 68
        +e.SPAN.pulse-count 72
        +e.pulse-circle
          +e.pulse-content
            +e.IMG(src='./assets/images/pulse.png').pulse-curve
            +e.IMG(src='./assets/images/heart.png').pulse-heart
      +e.content
        +e.img-block
          +e.IMG(src='./assets/images/about-phone.png').img
        +e.text-content
          +e.H2.title Что такое «Дневник здоровья»?
          +e.features
            +e.P.description Дневник пациента — это удобный онлайн-сервис:
            +e.UL.list
              +e.LI.list-item Вносите результаты измерений вручную или с помощью<br> интегрированных приборов
              +e.LI.list-item Ведите персональную медицинскую карту с историей<br> ваших измерений
              +e.LI.list-item Делитесь результатами измерений со специалистами<br> для повышения эффективности лечения
              +e.LI.list-item Получайте рекомендации, созданные специально для вас
          +button('Оставить заявку')._raspberry
    block
