.header {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;

  @include screen('xs', max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  $b: &;

  &__content {
    display: flex;
    align-items: center;

    @include screen('xs', max) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    margin-top: 10px;

    @include screen('xs', max) {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__logo-link {
    transition: opacity $ease-main;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-img {
    max-width: 100%;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include screen('xs', max) {
      margin-left: 0;
    }
  }

  &__nav {

    .navigation__list-item {
      color: #fdfffc;

      &:not(:last-child) {
        margin-right: 42px;
      }
    }

    @include screen('md-l', max) {
      display: none;
    }
  }

  &__button {
    margin-left: 68px;

    @include screen('xs', max) {
      margin-left: 0;
    }
  }
}
