mixin header()
  - var navData = getData('header-nav.json');
  +b.HEADER.header&attributes(attributes)
    .container
      +e.content
        +e.logo
          +logo('/', './assets/images/header-logo.png')
        +e.right
          +e.NAV.nav
            +nav-list(navData)
          +button('Оставить заявку')(type='button')._size-normal._rounded._theme-transparent.header__button
    block
