.header {
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;

  @include screen('xs', max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_absolute {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  $b: &;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen('xs', max) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    margin-top: 10px;
    margin-right: 50px;

    @include screen('md-l', max) {
      margin-top: 0;
      margin-right: 0;
    }

    @include screen('xs', max) {
      margin-bottom: 15px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__nav {

    .nav-list {

      &__item {

        &:not(:last-child) {
          margin-right: 42px;
        }
      }
    }

    @include screen('md-l', max) {
      display: none;
    }
  }

  &__button {
    margin-left: 68px;

    @include screen('xs', max) {
      margin-left: 0;
    }
  }
}
