mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.main
        +e.logo
          +e.A(href='#').logo-link
            +e.IMG(src='./assets/images/footer-logo.png').logo-img
        +navigation.__nav
          +nav-item('#', 'О сервисе')
          +nav-item('#', 'Функции')
          +nav-item('#', 'Возможности')
          +nav-item('#', 'Специалистам')
          +nav-item('tel:+78005004549', '88005004549')
      +e.bottom
        +e.made-by Разработка сайта&nbsp;
          a(href='https://redsoft.ru' target='_blank').creator Redsoft
    block
