mixin footer()
  - var navData = getData('footer-nav.json')
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.main
        +e.logo
          +logo('/', './assets/images/footer-logo.png')
        +e.NAV.nav
          +nav-list(navData)
      +e.bottom
        +e.made-by Разработка сайта&nbsp;
          a(href='https://redsoft.ru' target='_blank').creator Redsoft
    block
