.footer {
  display: block;
  padding-top: 57px;
  padding-bottom: 28px;
  background-color: $color-footer;

  $b: &;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 1px solid #335b91;

    @include screen('md', max) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__logo {
    margin-right: 40px;

    @include screen('md', max) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__nav {

    @include screen('md', max) {
      margin-left: auto;
      margin-right: auto;
    }

    .nav-list {

      @include screen('md', max) {
        flex-direction: column;
      }

      &__item {

        &:not(:last-child) {
          margin-right: 61px;

          @include screen('md', max) {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 32px;
  }

  &__made-by {
    @include text-small;

    color: #e3e7f2;
    text-align: center;

    .creator {
      color: #e70067;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
