mixin ol-list()
  +b.OL.ol-list&attributes(attributes)
    block

mixin ul-list()
  +b.UL.ul-list&attributes(attributes)
    block

mixin list-item()
  +b.LI.list-item&attributes(attributes)
    block

mixin navigation()
  +b.NAV.navigation&attributes(attributes)
    +e.UL.list
      block

mixin nav-item(url, text)
  +e.LI.list-item
    +e.A(href= url)&attributes(attributes).list-link #{text}
      block
