.list,
.ul-list,
.ol-list {
  @include list;

  padding-left: 15px;
}

.ul-list {
  @include ullist;
}

.ol-list {
  @include ollist;
}

.list-item {

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.navigation {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    @include text-normal;
  }

  &__list-link {
    position: relative;
    padding: 5px;
    color: inherit;

    &::after {
      @include pseudo;
      @include size(4px);

      bottom: 0;
      left: 50%;
      margin-left: -2px;
      border-radius: 50%;
      background-color: #fdfffc;
      transform: scale(0);
      transition: transform $ease-main;
    }

    &:hover {

      &::after {
        transform: scale(1);
      }
    }
  }

}
