mixin section(hasContainer=true)
  +b.SECTION.section&attributes(attributes)
    if (hasContainer)
      .container
        block
    else
      block

mixin section-wrapper()
  +e.wrapper&attributes(attributes)
    .container
      block

mixin section-header(title)
  +e.header&attributes(attributes)
    +e.H2.title!= title

mixin section-content()
  +e.content&attributes(attributes)
    block

mixin section-footer(text)
  +e.footer&attributes(attributes)
    +e.P.description!= text

mixin section-bg-img(src)
  +e.IMG(src=src).bg-img&attributes(attributes)
    block
