.section {
  display: block;

  $b: &;

  &__title {
    @include heading-2;
  }

  &_theme-light-gray {
    background-color: $color-bg-gray;
  }

  &_theme-gray {
    background-color: #e3eaf5;
  }

  &_main {
    position: relative;
    padding-top: 94px;
    padding-bottom: 48px;
    background-image: url('../images/main-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include screen('xs', max) {
      padding-top: 153px;
    }

    #{$b}__bg-img {
      @include fill-img;

      z-index: -1;
      opacity: 0;
      transition: opacity .4s ease;

      &.is-active {
        opacity: 1;
      }
    }

    .container {
      padding-top: 86px;

      @include screen('xs', max) {
        padding-top: 45px;
      }
    }

    #{$b}__content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 522px;

      @include screen('sm', max) {
        min-height: 100%;
      }
    }
  }

  &_about {
    padding-top: 146px;
    padding-bottom: 77px;

    @include screen('md', max) {
      padding-top: 110px;
    }

    @include screen('sm', max) {
      padding-top: 90px;
    }

    .container {
      position: relative;
    }

    #{$b}__pulse {
      position: absolute;
      right: -248px;
      bottom: -255px;
    }

    #{$b}__content {
      display: flex;
      max-width: 950px;
      margin-left: auto;
      margin-right: auto;
    }

    #{$b}__img-block {
      margin-right: 40px;

      @include screen('md-s', max) {
        display: none;
      }
    }

    #{$b}__img {
      max-width: 100%;
    }

    #{$b}__text-content {
      padding-top: 83px;

      @include screen('md-s', max) {
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    #{$b}__title {
      margin-bottom: 17px;
    }

    #{$b}__features {
      width: 100%;
      max-width: 480px;
      margin-bottom: 37px;
    }

    #{$b}__note {
      @include text-list-item;

      margin-left: 3px;
      margin-bottom: 17px;

      @include screen('md-s', max) {
        margin-left: 0;
      }
    }

    #{$b}__list {
      @include screen('md-s', max) {
        padding-left: 0;

        .list-item {

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &_features {
    position: relative;
    padding-top: 149px;
    padding-bottom: 104px;

    @include screen('md', max) {
      padding-top: 110px;
      padding-bottom: 60px;
    }

    @include screen('sm', max) {
      padding-top: 90px;
    }

    #{$b}__header {
      margin-bottom: 41px;
      text-align: center;
    }

    .grid {
      @include screen('sm', max) {
        display: flex;
      }

      &__col {
        @include screen('sm', max) {
          display: flex;
          justify-content: space-around;
        }

        @include screen('xs', max) {
          display: flex;
          flex-direction: column;
        }
      }
    }

    #{$b}__features-block {
      margin-bottom: 64px;
    }
  }

  &_diary {
    padding-top: 152px;
    padding-bottom: 200px;

    @include screen('md', max) {
      padding-top: 110px;
      padding-bottom: 110px;
    }

    @include screen('sm', max) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    #{$b}__header {
      margin-bottom: 89px;
      text-align: center;

      @include screen('xs', max) {
        margin-bottom: 55px;
      }
    }

    #{$b}__content {
      display: flex;
    }

    #{$b}__text-content {
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;

      @include screen('md', max) {
        max-width: 779px;
      }
    }

    #{$b}__text-block {

      &:not(:last-child) {
        margin-bottom: 78px;

        @include screen('md', max) {
          margin-bottom: 55px;
        }
      }
    }

    #{$b}__image-content {
      @include screen('md', max) {
        display: none;
      }
    }

    #{$b}__img {
      position: relative;
      top: 0;
      right: -72px;
      max-width: 100%;
    }
  }

  &_experts {
    padding-top: 79px;
    padding-bottom: 81px;
    background-color: $color-bg-gray;

    @include screen('md-s', max) {
      padding-bottom: 79px;
    }

    .container {
      width: 1600px;

      @include screen('xl-s', max) {
        width: $container-width;
      }
    }

    #{$b}__content {
      position: relative;
      display: flex;
    }

    #{$b}__img-block {
      margin-top: -164px;
      margin-right: 30px;

      @include screen('xl-s', max) {
        margin-top: 0;
      }

      @include screen('lg-s', max) {
        display: none;
      }
    }

    #{$b}__img {
      max-width: 100%;
    }

    #{$b}__text-content {
      @include screen('lg-s', max) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #{$b}__title {
      margin-bottom: 30px;

      @include screen('xl-s', max) {
        margin-bottom: 15px;
      }
    }

    #{$b}__list {
      @include screen('lg-s', max) {
        padding-left: 0;

        .list-item {

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &_cta {
    padding-top: 140px;
    padding-bottom: 160px;
    text-align: center;

    @include screen('md', max) {
      padding-top: 110px;
      padding-bottom: 110px;
    }

    @include screen('sm', max) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    #{$b}__header {
      margin-bottom: 40px;

      @include screen('sm', max) {
        margin-bottom: 30px;
      }
    }

    #{$b}__content {
      max-width: 558px;
      margin-left: auto;
      margin-right: auto;
    }

    #{$b}__description {
      @include text-descr;

      font-weight: 500;
      margin-bottom: 54px;

      @include screen('sm', max) {
        margin-bottom: 45px;
      }
    }

    #{$b}__form {
      display: flex;

      @include screen('sm', max) {
        flex-direction: column;
      }
    }

    #{$b}__input {
      max-width: 360px;

      @include screen('sm', max) {
        max-width: 100%;
        height: 55px;
        margin-bottom: 25px;
      }
    }

    #{$b}__button {
      margin-left: auto;

      @include screen('sm', max) {
        margin-left: 0;
      }
    }
  }
}
