extends ../../layouts/default

block head
  - var pageTitle = 'Моё здоровье'

block content
  +b.index
    +b.main-wrapper
      +e.IMG(src='./assets/images/main-bg-img.png').bg-img.is-active
      +e.IMG(src='./assets/images/main-bg-img_2.png').bg-img
      +header
      +main
    main.main-content
      +about
