.button {
  display: inline-block;
  white-space: nowrap;
  color: #fdfffc;
  cursor: pointer;


  &_transparent {
    @include text-normal;

    padding-left: 33px;
    padding-right: 33px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #5489c3;
    background-color: transparent;
    transition: background-color $ease-main;

    @include screen('sm', max) {
      padding-left: 25px;
      padding-right: 25px;
      height: 55px;
    }

    &:hover {
      background-color: #5489c3;
    }
  }

  &_raspberry {
    @include text-button;

    padding-left: 29px;
    padding-right: 29px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #e70067;
    background-color: #e70067;
    transition: background-color $ease-main, border-color $ease-main, box-shadow $ease-main;

    @include screen('sm', max) {
      height: 55px;
    }

    &:hover {
      box-shadow: 0 6px 33px 7px rgba(231, 0, 103, 0.36);
      background-color: #c9005a;
      border-color: #c9005a;
    }
  }
}
