.main-wrapper {
  min-height: 750px;
  position: relative;
  background-image: url('../images/main-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  color: #fafaff;

  @include screen('sm', max) {
    min-height: 700px;
  }

  &__bg-img {
    @include fill-img;

    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease;

    &.is-active {
      opacity: 1;
    }
  }
}

.main {
  display: block;
  padding-top: 86px;
  padding-bottom: 48px;

  @include screen('xs', max) {
    padding-top: 45px;
  }

  $b: &;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 522px;

    @include screen('sm', max) {
      min-height: 470px;
    }
  }

  &__text-content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translate3d(0, 4%, 0);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: transform .4s ease, opacity .4s ease;

    &.is-active {
      transform: translate3d(0, 0, 0);
      height: auto;
      overflow: visible;
      opacity: 1;
    }
  }

  &__title {
    @include heading-1;

    margin-bottom: 35px;
  }

  &__description {
    @include heading-3;

    margin-bottom: 48px;
  }

  &__slider-pag {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 72px;
    display: flex;
    margin-top: 147px;
    border-radius: 8px;
  }

  &__slider-button {
    position: relative;
    width: 36px;
    height: 16px;
    border: 1px solid #5489c3;
    background-color: transparent;

    &:hover, &.is-active {

      #{$b}__slider-dash {
        background-color: $color-light;
      }
    }

    &:first-child {
      border-right: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      #{$b}__slider-dash {
        right: 4px;
      }
    }

    &:last-child {
      border-left: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      #{$b}__slider-dash {
        left: 4px;
      }
    }
  }

  &__slider-dash {
    @include size(16px, 1px);

    position: absolute;
    top: 50%;
    margin-top: -1px;
    background-color: #5489c3;
    transition: background-color $ease-main;
  }
}
