@mixin list {
  @include text-list-item;

  li {
    position: relative;
  }
}

@mixin ullist {

  li::before {
    @include pseudo;
    @include size(5px);

    top: 10px;
    left: -16px;
    border-radius: 50%;
    background-color: $color-main;
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
